body {
  background: #141414;
}

button {
  font-size: 30px;
}

.content {
  white-space: pre;
}

.terminal {
  font-family: "IBM Plex Mono", monospace;
  color: rgb(187, 187, 187);
  font-size: 30px;
  font-weight: 100;
}

.terminal-input {
  background: rgba(0, 0, 0, 0);
  font-family: monospace;
  color: transparent;
  font-size: 30px;
  outline: none;
  border: none;
  -webkit-text-fill-color: rgb(187, 187, 187);
}

.terminal-purple {
  color: #5050f2;
}

.console-line {
  color: rgb(0, 178, 0);
}

.login-line {
  color: #fff;
}

.console-carrot {
  vertical-align: middle;
  background: #fff;
  height: 32px;
  width: 17px;
  margin-left: -7px;
  display: inline-block;
  animation: blink 1s step-start 0s infinite;
}

::selection {
  background-color: #fff;
  color: #000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
